h1 {
	font-family: Arial;
/*	color: #2e69a3;
	position: center;
	margin-top: 20px;*/
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #dddddd;
	position: fixed;
	top: 0;
	width: 100%;
}

li {
	display: inline;
	border-right: 1px solid #bbb;
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 8px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}

#name {
	margin-top: 100px;
	position: center;
	font-size: 100px;
	color: #98AFC7;
	border-color: #6D7B8D;
	border-width: 3px;
}

.active {
	background-color: #25383C;
}

.menu {
	font-family: Trebuchet MS;
}

.content {
	background-image: url("images/Halfmoon.jpg");
	background-size: 300px 300px;
}

.links {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.links a {
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
}

.links a:active {
	top: 2px;
}