h1 {
	font-family: Arial;
	color: #2e69a3;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #dddddd;
	position: fixed;
	top: 0;
	width: 100%;
}

li {
	display: inline;
	border-right: 1px solid #bbb;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}

.active {
	background-color: #25383C;
}

.menu {
	font-family: Trebuchet MS;
}

.container {
	background-image: url("images/Onlinebeach.jpg");
	background-size: cover;
}

.links {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.links a {
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
}

.links a:active {
	top: 2px;
}