h1 {
	font-family: Arial;
	color: #2e69a3;
}

nav li {
	display: inline;
}

.menu {
	font-family: Trebuchet MS;
}

.container {
	background-image: url("images/Onlinebeach.jpg");
	background-size: cover;
}